body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.center-container {
  background: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  width: 300px;
  margin-top: 20px;
}
